* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 2px solid red;
}
body {
  width: 100%;
}
:root {
  --nav-height: 64px;
}
nav a {
  text-decoration: none;
}
.nav__desktop {
  font-size: 20px;
  width: 100%;
}
.nav__desktop a {
  color: black;
}
.nav__desktop .logo__text2 {
  color: gray;
  font-weight: lighter;
}
ul {
  list-style: none;
}
.nav__desktop {
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 720px;
  padding: 0 24px;
}

.nav__desktop ul {
  display: flex;
  margin-right: 8px;
}
.nav__desktop ul li {
  padding: 0 8px;
  line-height: var(--nav-height);
  border-radius: 15px;
}
nav ul li:hover {
  background-color: #d0d0d0;
  /* opacity:0.4; */
}

.nav__mobile ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 64px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.nav__mobile li {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 10%;
}

.logo__container {
  font-weight: bold;
  display: flex;
  /* margin-left: 24px; */
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  background-color: rgb(216, 216, 216);
}

.header__container1 {
  width: 60%;
}
.headerbanner {
  width: 100%;
  padding: 32px 24px;
}

.header__container2 h3 {
  margin: 32px 0 24px;
}

.register {
  color: white;
  background-color: rgb(74, 74, 74);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 0;
}

.article__content a {
  color: rgb(88, 153, 228);
}

.articles {
  padding: 16px 16px;
}
.articles img {
  width: 100%;
}
.article__content {
  padding: 0 0 64px 16px;
}

.articles h3 {
  margin-top: 24px;
}

.learnings {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/*desktop*/
@media only screen and (min-width: 541px) {
  .--mobile {
    display: none;
  }
  #logo {
    height: 60px;
  }
  .article__wrapper {
    width: 100%;
    display: flex;
  }
  .article__side {
    margin: 32px 24px 0;
    width: 60%;
    position: relative;
  }
  .article__side h2 {
    margin: 32px 0 24px;
  }
  .article__side img {
    width: 100%;
  }
  .articles article {
    display: flex;
    padding: 16px;
  }
  .articles {
    padding: 16px 0 0 0;
  }
  .articles img.--desktop {
    width: 35%;
    height: auto;
  }
  .articles h3 {
    margin-bottom: 8px;
  }
  .articles a {
    display: block;
    margin-top: 8px;
  }
  .article__side__footer {
    position: absolute;
    bottom: 0;
  }
  .learnings {
    margin: 32px 72px;
  }
  .learnings h2 {
    margin: 32px 0;
  }
  .learning__container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 32px;
  }

  .learning__container div {
    display: flex;
    flex-flow: column;
    flex: 1;
    min-width: 25%;
    width: calc(33.33%-32px);
  }
  .learning__text__container {
    margin: 16px 0 8px 16px;
    display: flex;
    row-gap: 8px;
  }
}
/*mobile*/
@media only screen and (max-width: 540px) {
  .--desktop {
    display: none;
  }
  header {
    flex-flow: column;
    background-color: rgb(219, 219, 219);
  }
  .header__container1 {
    width: 100%;
  }
  .headerbanner {
    width: 100%;
    padding: 0 0 32px 0;
  }
  .header__container2 {
    width: 100%;
    padding: 32px 16px;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .register {
    background-color: rgb(155, 155, 155);
    width: 100%;
    margin-top: 0px;
  }
  .thesis__expo video {
    width: 100%;
  }
  .learning__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 90%;
    margin-bottom: 32px;
    row-gap: 8px;
  }
  .learnings h2 {
    margin-bottom: 16px;
  }
  .learning__container h3 {
    background-color: rgb(216, 216, 216);
    padding: 16px 0 24px 16px;
  }
  .learning__container div {
    width: 100%;
  }
}
/* @media only screen and (max-width: 980){} */
