:root {
  --nav-height: 64px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
img:hover {
  opacity: 0.8;
  cursor: pointer;
}
h2,
h3,
h4,
h5 {
  color: rgb(74, 74, 74);
}
p {
  color: rgb(118, 118, 118);
}
h2 {
  font-size: 35px;
  font-weight: 750;
}
h3 {
  font-size: 18px;
  font-weight: 600;
}
p,
date {
  font-size: 15px;
  font-weight: lighter;
}
.register p {
  color: white;
}
body {
  width: 100%;
}
a {
  text-decoration: none;
}
.nav__desktop {
  font-size: 20px;
  width: 100%;
}
.nav__desktop a {
  color: black;
}
.nav__desktop .logo__text2 {
  color: gray;
  font-weight: lighter;
}
ul {
  list-style: none;
}
.nav__desktop {
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  height: var(--nav-height);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 720px;
  padding: 0 24px;
  z-index: 100;
}

.nav__desktop ul {
  display: flex;
  margin-right: 8px;
}
.nav__desktop ul li {
  padding: 0 8px;
  line-height: var(--nav-height);
  border-radius: 15px;
}
nav ul li:hover {
  opacity: 0.5;
}

.nav__mobile ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: var(--nav-height);
  position: sticky;
  top: 0;
  background-color: #fff;
}

.nav__mobile li {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 10%;
  cursor: pointer;
}

.logo__container {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.logo__container:hover {
  opacity: 0.8;
}

header {
  display: flex;
  align-items: center;
  background-color: rgb(216, 216, 216);
}

.header__container1 {
  width: 60%;
}
.headerbanner {
  width: 100%;
  padding: 32px 24px;
}

.header__container2 h3 {
  margin: 32px 0;
}

.register {
  color: white;
  background-color: rgb(74, 74, 74);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 0;
  cursor: pointer;
}

.register:hover {
  opacity: 0.7;
  cursor: pointer;
}

.article__content a {
  color: rgb(88, 153, 228);
}
.article__content a:hover {
  color: rgb(0, 0, 250);
}
.articles {
  padding: 16px 16px;
}
.articles img {
  width: 100%;
}
.article__content {
  padding: 0 0 64px 16px;
}

.articles h3 {
  margin-top: 24px;
}

.learnings {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.articles > article:hover h3,
.learn__item:hover h3 {
  opacity: 0.7;
}
/*desktop*/
@media only screen and (min-width: 541px) {
  .--mobile {
    display: none;
  }
  #logo {
    height: 60px;
  }
  .article__wrapper {
    width: 100%;
    display: flex;
  }
  .article__side {
    margin: 32px 24px 0;
    width: 60%;
    position: relative;
  }
  .article__side h2 {
    margin: 32px 0 24px;
  }
  .article__side img {
    width: 100%;
  }
  .articles article {
    display: flex;
    padding: 16px;
  }
  .articles {
    padding: 16px 0 0 0;
  }
  .articles img.--desktop {
    width: 35%;
    height: auto;
  }
  .articles h3 {
    margin-bottom: 8px;
  }
  .articles a {
    display: block;
    margin-top: 8px;
  }
  .article__side__footer {
    position: absolute;
    bottom: 0;
    color: black;
  }
  .articles article:hover {
    cursor: pointer;
    background-color: #d0d0d0;
  }
  .learnings {
    margin: 16px 56px;
  }
  .learnings h2 {
    margin: 32px 0;
  }
  .learning__container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 32px 16px;
  }

  .learn__item img {
    padding: 16px;
  }
  .learn__item:hover {
    cursor: pointer;
    background-color: #d0d0d0;
  }
  .learning__container div {
    display: flex;
    flex-flow: column;
    flex: 1;
    min-width: 25%;
    width: calc(33.33%-32px);
  }
  .learning__text__container {
    margin: 16px 0 8px 16px;
    display: flex;
    row-gap: 8px;
  }
  .thesis__wrapper {
    width: 100%;
    display: flex;
  }
  .thesis {
    margin-bottom: 32px;
  }
  .thesis__expo {
    display: flex;
    flex-flow: column;
    width: 60%;
    margin: 0 24px;
  }
  .thesis__side {
    display: flex;
    flex-flow: column;
  }

  .thesis__expo video {
    width: 100%;
  }
  .thesis__expo h3 {
    margin: 24px 0 8px;
  }
  .thesis h2 {
    display: flex;
    justify-content: center;
    padding: 32px;
  }

  .thesis__item {
    display: flex;
    align-items: center;
  }
  .thesis__item:hover {
    cursor: pointer;
    background-color: #d0d0d0;
  }
  .thesis__item img {
    width: 35%;
    height: auto;
    margin: 16px;
  }
  .thesis__item__content {
    display: flex;
    flex-flow: column;
    row-gap: 16px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 24px 30px;
  }
  footer ul {
    display: flex;
    column-gap: 15px;
  }
  footer ul li:hover {
    opacity: 0.5;
  }
}
/*mobile*/
@media only screen and (max-width: 540px) {
  .--desktop {
    display: none;
  }
  header {
    flex-flow: column;
    background-color: rgb(219, 219, 219);
  }
  .header__container1 {
    width: 100%;
  }
  .headerbanner {
    width: 100%;
    padding: 0 0 32px 0;
  }
  .header__container2 {
    width: 100%;
    padding: 32px 16px;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .register {
    background-color: rgb(155, 155, 155);
    width: 100%;
    margin-top: 0px;
  }
  .thesis__expo video {
    width: 100%;
  }
  .learning__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 90%;
    margin-bottom: 32px;
    row-gap: 8px;
  }
  .learnings h2 {
    margin-bottom: 16px;
  }
  .learning__text__container h3 {
    margin: 16px 0 24px 16px;
  }
  .learn__item {
    cursor: pointer;
  }
  .learning__container div {
    width: 100%;
    background-color: rgb(216, 216, 216);
  }

  .thesis__wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 24px;
  }
  .article__content {
    display: flex;
    flex-flow: column;
    row-gap: 16px;
  }

  .thesis h2 {
    display: flex;
    justify-content: center;
  }
  .thesis__wrapper h2 {
    margin: 32px 0 16px;
  }
  footer p {
    margin: 0 16px;
  }
  footer ul {
    display: none;
  }
}
/* @media only screen and (max-width: 980){} */
